#ABOUT {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* margin: 4rem; */
}

.AboutTitle {
  display: flex;
  height: auto;
  justify-content: center;
  font-size: 4rem;
  /* color: #fff; */
  text-align: center;
  margin-bottom: 2rem;
}

.AboutContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-bottom: 4rem;
  margin-right: 5rem;
}

@media (max-width: 800px) {
  .AboutContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .AboutContent {
    font-size: 1.2rem;
  }
}

.MyImageBox {
  width: 40%;
  display: flex;
  justify-content: center;
}

.MyImage {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  margin: 4rem 0;
}

.AboutMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.AboutDetailContainer {
  margin-top: 4.5rem;
}

.Label {
  display: block;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: bold;
}

.SecondLabel {
  font-size: 1.8rem;
  color: #888888;
  border-bottom: 2px solid #888888;
}

.AboutContent {
  line-height: 2.5rem;
  margin-top: -2.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #888888;
}
