.AboutTitle {
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0;
}

.Image {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.Selfie {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border-radius: 50%;
}

.Myname {
  font-size: 4rem;
  text-align: center;
}

.Occupation {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 0, 5rem;
}

.AboutMe {
  font-size: 2rem;
  padding: 0 2rem 3rem 3rem;
  text-align: center;
  letter-spacing: 0.5px;
}
