.ContactSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(
      to top,
      rgba(34, 32, 41, 0.3),
      rgba(34, 32, 41, 0.6)
    ),
    url(../../assets/images/coffee.jpg) center no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ContactTitle {
  display: inline;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.Contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  width: 70%;
  margin: 0 auto;
  /* background: linear-gradient(
      to top,
      rgba(34, 32, 41, 0.6),
      rgba(34, 32, 41, 0.8)
    ),
    url(../../assets/images/coffee.jpg) center no-repeat; */
  border-radius: 10px;
}

.FormLabel {
  color: "fff";
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0;
  color: #fff;
}

.SnsList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Sns {
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}

.Sns:hover {
  transform: rotateY(25deg);
}

.Sns i {
  color: #fff;
  font-size: 6rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.Sns:hover i {
  transform: rotateY(-180deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.Sns:first-child i:hover {
  color: #e0b486;
  border: 3px solid #e0b486;
}
.Sns:nth-child(2) i:hover {
  color: #312f30;
  border: 3px solid #312f30;
}
/* .Sns:nth-child(3) i:hover {
  color: #d74a3f;
  border: 3px solid #d74a3f;
} */
.Sns:nth-child(3) i:hover {
  color: #0372af;
  border: 3px solid #0372af;
}
.Sns:nth-child(4) i:hover {
  color: #2ea8ee;
  border: 3px solid #2ea8ee;
}
.Sns:nth-child(5) i:hover {
  color: #1356a7;
  border: 3px solid #1356a7;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:link {
  color: #fff;
  text-decoration: none;
}

.SnsName {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
}

/* footer */
.Footer {
  width: 100%;
  height: 4rem;
  text-align: center;
}

.Copyright {
  color: #fff;
  font-size: 1.8rem;
}
