.Container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 15rem;
}
.FormContainer {
  display: flex;
  margin: auto;
  width: 70%;
  height: 50rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.ContactForm {
  width: 50%;
  background-color: #232328;
  padding: 8rem 5rem 5rem 5rem;
  box-sizing: border-box;
}

.FormInput {
  width: 30rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #cc683c;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 5rem;
  outline: none;
  padding: 1rem 0;
  transition: border-bottom-color 0.8s;
}

.FormInput:focus {
  border-bottom-color: #cc683c;
}

.ContactForm label {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.TextArea {
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.TextArea:focus {
  border: 2px solid #cc683c;
  color: #cc683c;
  outline: none;
}

.SubmitButton {
  display: block;
  margin-top: 4rem;
  width: 15rem;
  padding: 0.8rem 0.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5rem;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.SubmitButton:hover {
  color: #cc683c;
  border: 2px solid #cc683c;
}

.Header {
  width: 50%;
  background: url(../../assets/images/email.png) center no-repeat;
  background-size: cover;
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.Header h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Xbtn {
  position: absolute;
  bottom: 2.5%;
  right: 2%;
  font-size: 2.3rem;
  font-weight: bold;
  color: #262626;
  cursor: pointer;
}

@media (max-width: 1135px) {
  .FormInput {
    width: 250px;
  }

  .TextArea {
    width: 25rem;
  }
}

@media (max-width: 995px) {
  .FormInput {
    width: 23rem;
  }

  .TextArea {
    width: 20rem;
  }
}

@media (max-width: 850px) {
  .FormContainer {
    width: 600px;
    height: 400px;
  }

  .ContactForm {
    padding: 50px 30px;
  }

  .FormInput {
    width: 200px;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 7px 0;
  }

  .ContactForm label {
    font-size: 13px;
  }

  .ContactForm button {
    margin-top: 50px;
    width: 120px;
    padding: 6px 4px;
    font-size: 13px;
    border-width: 1px;
  }

  .Header h1 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .Header {
    display: none;
  }

  .FormContainer {
    width: 300px;
  }

  .ContactForm {
    width: 100%;
  }
}
